
/* --- MIKAYIL --- */

body, html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #f7f7f7;
}

.navbar{
    background-color: #3e66ef;
    margin: 0;
    padding: 0;
}

.logo{
    padding: 0px;
    margin: 0px 0px 0px 400px;
}

.center-content{
    padding-top: 50px;
}

.main-col,
.profile-col{
    min-height: 800px;
    background-color: #ffffff;
    margin: 10px;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    border-radius: 25px; */
}


/* BROWSE page */

.browse-row{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.browse-col{
    background-color: #ffffff;
    opacity: 0.8;
    height: 100px;
}

/* BROWSE page */



/* OFFERS PAGE */

.tittle-desc{
    color: gray;
    font-size: 20px;
}

.offer-cards{
    margin: 0px;
    padding: 0px;    
}
.offer-card{
    margin: 10px;
    background-color: #4bc5d4;
    color: #ffffff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border: none;
}

.msg-btn {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #4bc5d4;
    border: solid 0.5px;
    border-color: #ffffff; 
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .msg-btn:hover {
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 15px 20px #21b4c6;
    color: #4bc5d4;
    transform: translateY(-7px);
  }

  .acc-card{
      width: 100%;
      margin: 10px;
      background-color: #15aae2;
      color: #ffffff;
      border: none;
      border-radius: 15px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
      
  }

  .acc-btn {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    background-color: #3e66ef;
    border: none;
    border-color: #ffffff; 
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .acc-btn:hover {
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 15px 20px #21b4c6;
    color: #3e66ef;
    transform: translateY(-7px);
  }

  .ing-detail{
    color: #ffffff;
    font-style: italic;
    text-decoration: underline;
  }

  /* .col-border{
      border-left: 5px solid #000000;
  } */


  /* OFFERS PAGE */

/* --- MIKAYIL --- */

